body {
    background-color: antiquewhite;
}

h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: large;
}

hr {
    margin-top: 0px;
    margin-bottom: 1rem;
    border: solid gray 1px;
}

.flex-display {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.add-bottom-margin {
    margin-bottom: 0.5rem;
}

.add-left-margin {
    margin-left: 0.5rem;
}

.add-gap {
    gap: 0.5rem;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.options {
    margin-left: 0.75rem;
}

.outline {
    padding: 0.5rem;
    border: solid gray 1px;
    width: 12rem;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#select-ions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#display-formula-btn {
    height: 1.25rem;
}

.ion-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ion-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.button-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

button {
    border-radius: 10px;
}

.practice-forms {
    border: solid black 1px;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.flex-around-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

#included-types {
    margin-top: 0.5rem;
}

.user-input {
    height: 1.5rem;
    width: 10rem;
    border: solid black 0.5px;
    padding: 0px;
    background-color: white;
    border-radius: 10px;
    padding-left: 0.25rem
}

.div-width {
    width: 14rem;
}

.problem-background {
    background-color: lightsteelblue;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 1px darkblue;
}

.new-buttons {
    background-color: #C9E4AC;
}

.check-buttons {
    background-color: #E4BCAC;
}