h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.options {
    margin-left: 0.75rem;
}

.outline {
    padding: 0.5rem;
    border: solid gray 1px;
    width: 11rem;
}

.compound {
    display: flex;
    justify-content: space-around;
}

#select-ions {
    display: flex;
    justify-content: space-around;
}

#select-cation {
    display: flex;
}

#select-anion {
    display: flex;
}

#mg-ions-btn {
    height: 1.25rem;
}

#mg-cation {
    display: flex;
    justify-content: center;
}

#mg-anion {
    display: flex;
    justify-content: center;
}